<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>Visocialize is a data visualization web application which allows
researchers and data analysts to quickly visualize and interpret data
obtained from social media. Visocialize allows the user to search social
media websites for certain keywords, and offers a control panel to
dynamically filter and visualize the results.</p>
