<h1>Search Results for <%= @query %> on Twitter</h1>
<% @result.each do |tweet| %>
  <p><%= tweet.text %></p>
<% end %>

<% @instagram.each do |instagram| %>
 <%= image_tag instagram.images.standard_resolution.url %>
<% end %>
