<center><div id="spinner">
  <table><tr>
  <td><%= image_tag 'spinner.gif' %></td>
  <td><h3>Loading Results...</h3></td>
  </tr></table>
</div></center>
<div id="search-result-content"></div>
<script type="text/javascript">

$.ajax({
  url: "<%= @request %>",
  cache: false,
  success: function(html) {
    $("#spinner").hide();
    $("#search-result-content").append(html);
  }
});
</script>
